body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ebeff4;
}

.home-page{
    margin: auto;
    padding: 0px 90px;
}

.background-image{
    width:1333px;
    height: 832px;
    position: absolute;
    top: 0;
    z-index: -1;
    margin-left: 90px;
}


/* home page heading part */

.main-content .home-page .home-page-header{
    display: flex;
    align-items: center;
    background-color: #151527;
    height: 70px;    
    width: 1333px;
    position: fixed;
    z-index: 1;
}

.main-content .home-page .home-page-header .head-sec-part{
    display: flex;
    margin-left: auto;
    padding: 10px;
}

.home-page .home-page-header .head-sec-part li{
    list-style: none;
}

.home-page .home-page-header h2{
    color: #fea116;
    font-size: 40px;
    position: relative;
    left: 50px;
}

.home-page .home-page-header h2 img{
    height: 45px;
    width: 50px;
    position: relative;
    top: 6px;
    right: 2px;
}

.home-page .home-page-header a{
    margin-left: 25px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #f1f8ff;
    position: relative;
    top: 4px;
}

.home-page .home-page-header button{
    background-color: #fea116;
    padding: 8px 24px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-right:12px;
    margin-left: 20px;
}

.home-page .home-page-header button:hover{
    cursor: pointer;
    background-color: #ffb330;
}

.home-page .home-page-header select {
    border: none;
    margin-left: 25px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 549;
    width: 75px;
    background-color: transparent;
    color: #ffffff;
    position: relative;
    top: 4px;
}

.home-page .home-page-header select option{
    background-color: #ffffff;
    color: #000000;
    border: none;
}

.home-page .home-page-header select option:hover{
    background-color: #fea116;
    color: #ffffff;
}

.intro-page{
    display: flex;
    background-color: #0f172be9;
    margin: auto;
    padding: 120px 90px;
    justify-content: center;
}

.intro-page .part1{
    width: 100%;
    margin: 10px 0;
    text-align: center;
    justify-content: center;
}

.intro-page .part1 h1{
    color: #ffffff;
    font-size: 60px;
    margin: 0px 0px 8px;
}

.intro-page .part1 p{
    margin: 0px 0px 16px;
    font-weight: 400;
    margin-top: 20px;
}

.intro-page .part1 p a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
}

.intro-page .part1 p span{
    color: #878383;
    margin: 0px 8px;
}

.intro-page .part1 p .current-page{
    color: #fea116;
}

/* contact part */
.contact{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 0px;
    background-color: #ffffff;
    padding: 50px 20px 50px;
}

.contact .sub-head{
    text-align: center;
    font: 20px Pacifico, cursive;
    font-weight: 600;
    color: #fea116;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.contact  .heading-bar1{
    width: 40px;
    height: 3px;
    background-color: #fea116;
    position: relative;
    top: 15px;
    right: 9px;
}

.contact h4 .heading-bar2{
    width: 40px;
    height: 3px;
    background-color: #fea116;
    position: relative;
    top: 15px;
    left: 9px;
}

.contact h1{
    text-align: center;
    font-size: 38px;
    margin: 0px 0px 16px;
    margin-top: 0px;
}

.contact-us {
    display: flex;
    gap: 300px;
    justify-content: left;
    padding: 20px;
}

.contact-us .sub-part h4{
    margin-bottom: 0px;
    margin-top: 0px;
    font: 20px Pacifico, cursive;
    font-weight: 600;
    color: #fea116;
    margin-left: 5px;
    display: flex;
}

.contact-us .sub-part h4 .heading-bar{
    width: 40px;
    height: 3px;
    background-color: #fea116;
    position: relative;
    top: 15px;
    left: 6px;
}

.contact-us a{
    text-decoration: none;
    color: #878383;
    font-size: 16px;
    text-align: left;
    margin-top: 0px;
}

.contact-part-2{
    display: flex;
}

.contact-part-2 .right{
    width: 600px;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 60px;
}

.contact-part-2 .right input{
    padding: 20px;
    font-size: 16px;
}

.contact-part-2 .right .upper{
    display: flex;
    gap: 15px;
}

.contact-part-2 .right .upper input{
    width: 50%;
}

.contact-part-2 .right .subject{
    width: 554px;
    margin-top: 15px;
}

.contact-part-2 .right textarea{
    width: 554px;
    height: 100px;
    margin-top: 15px;
    padding: 20px;
    font-size: 16px;
}

.contact-part-2 .right button{
    width: 100%;
    padding: 20px;
    background-color: #fea116;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 10px;
}

.contact-part-2 .left{
    width: 700px;
}

/* .contact-part-2 .left iframe{
    width: 640px;
    height: 370px;
    margin-left: 25px;
    border-radius: 5px;
    margin-top: 17px;
} */

.contact-part-2 .left img{
    width: 640px;
    height: 370px;
    margin-left: 25px;
    border-radius: 5px;
    margin-top: 17px;
}


/* footer section */

.footter-section{
    background-color: #151527;
    color: #ffffff;
    display: block;
    margin: auto;
    margin-left: 90px;
    margin-right: 90px;
}

.footter-section .footer-cards{
    display: flex;
    margin: auto;
    gap: 60px;
    padding: 50px 0px;
    margin-left: 50px;
    /* justify-content: center; */
}

.footter-section .footer-cards .card{
    display: block;
    width: 250px;
}

.footter-section .footer-cards .card a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: block;
    margin: 8px 0px;
}

.footter-section .footer-cards .card h3{
    font: 24px Pacifico, cursive;
    color: #fea116;
    font-weight: 600;
}

.footter-section .footer-cards .card span{
    font-size: 20px;
}

.footter-section .footer-cards .card p{
    margin-top: 5px;
    font-size: 16px;
}

.footter-section .footer-cards .card input{
    padding: 15px;
    font-size: 16px;
    border: #fea116 2px solid;
    border-radius: 2px;
}

.footter-section .footer-cards .card button{
    padding: 12px;
    font-size: 16px;
    background-color: #fea116;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
}

.logo-part{
    display: flex;
    gap: 5px;
}

.location, .phone, .email{
    background-color: #ffffff;
    border-radius: 3px;
    height: 15px;
    padding: 4px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.twitter, .facebook, .youtube, .linkedin{
    background-color: #ffffff;
    border-radius: 360px;
    height: 25px;
    padding: 3px;
    margin-top: 10px;
}

.twitter:hover, .facebook:hover, .youtube:hover, .linkedin:hover{
    background-color: #fea116;
}

.footter-disc{
    display: flex;
    margin: auto;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
}

.footter-disc .left{
    text-align: left;
    margin-left: 10px;
}

.footter-disc .right{
    margin-left: auto;
    display: flex;
    gap: 20px;
    margin-right: 10px;
}

.footter-disc .right li{
    list-style: none;
}

.footter-disc .right span{
    color: rgba(250, 250, 250, 0.249);
    margin-left: 10px;
}
