body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ebeff4;
}

html{
    scroll-behavior: smooth;
}

.home-page{
    margin: auto;
    padding: 0px 90px;
}

.background-image{
    width:1333px;
    height: 832px;
    position: absolute;
    top: 0;
    z-index: -1;
    margin-left: 90px;
}

/* home page heading part */

.main-content .home-page .home-page-header{
    display: flex;
    align-items: center;
    background-color: #151527;
    height: 70px;    
    width: 1333px;
    position: fixed;
    z-index: 1;
}

.main-content .home-page .home-page-header .head-sec-part{
    display: flex;
    margin-left: auto;
    padding: 10px;
}

.main-content .home-page .home-page-header .head-sec-part li{
    list-style: none;
}

.home-page .home-page-header h2{
    color: #fea116;
    font-size: 40px;
    position: relative;
    left: 50px;
}

.home-page .home-page-header h2 img{
    height: 45px;
    width: 50px;
    position: relative;
    top: 6px;
    right: 2px;
}

.home-page .home-page-header a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 25px;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    top: 4px;
}

.home-page .home-page-header button{
    background-color: #fea116;
    padding: 8px 24px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-right:12px;
    margin-left: -5px;
    position: relative;
    bottom: 4px;
}

.home-page .home-page-header button:hover{
    cursor: pointer;
    background-color: #ffb330;
}

.home-page .home-page-header select {
    border: none;
    margin-left: 25px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 549;
    width: 75px;
    background-color: transparent;
    color: #ffffff;
    position: relative;
    top: 4px;
}

.home-page .home-page-header select option{
    background-color: #ffffff;
    color: #000000;
    border: none;
}

.home-page .home-page-header select option:hover{
    background-color: #fea116;
    color: #ffffff;
}

.intro-page{
    display: flex;
    padding: 20px;
    background-color: #0f172be9;
    /* main error here */
    width: 1293px;
    height: 790px;
    margin: auto;
}

.intro-page .part1{
    width: 549px;
    margin: 10px;
    margin-top: 230px;
}

.intro-page .part2{
    /* width: 700px; */
    margin-left: 90px;
    margin-top: 110px;
}

.intro-page .part1 h1{
    color: #ffffff;
    font-size: 60px;
    margin: 0px 0px 8px;

}

.intro-page .part1 p{
    font-size: 18px;
    color: #ffffff;
    width: 600px;
    margin-bottom: 40px;
}

.intro-page .part1 button{
    background-color: #fea116;
    padding: 16px 48px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
}

.intro-page .part2 img{
    height: 600px;
    width: 600px;
}

/* Services Part */

.services{
    display: flex;
    background-color: #ffffff;
    margin-left: 90px;
    margin-right: 90px;
}

.services .card{
    width: 264px;
    height: 206px;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    margin-top: 60px;
    box-shadow: #c3bdbd 0px 0px 8px;
}

.services .card:hover{
    background-color: #fea116;
    cursor: pointer;
}

.services .card img{
    height: 54px;
    width: 48px;
}

.services .card h3{
    font-size: 20px;
    margin: 0px 0px 8px;
}

.services .card span{
    font-size: 16px;
    margin: 0px 0px 16px;
}

/* About Us  */

.about-us{
    display: flex;
    /* padding: 60px 0px; */
    margin: auto;
    background-color: #ffffff;
    margin-left: 90px;
    margin-right: 90px;
}

.about-us table{
    margin: auto;
    border-spacing: 20px 20px;
}

.about-us .about-sec1{
    width: 460px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-us .about-sec1 .img1, .about-us .about-sec1 .img4 {
    height: 300px;
    width: 300px;
    border-radius: 3px;
}

.about-us .about-sec1 .img2 {
    height: 230px;
    width: 230px;
    border-radius: 3px;
    margin-top: 70px;
}

.about-us .about-sec1 .img3{
    height: 230px;
    width: 230px;
    border-radius: 3px;
    margin-bottom: 70px;
    margin-left: 70px;
}

.about-us .about-sec2{
    width: 600px;
    /* height: 680px; */
    margin: auto;
    margin-top: 150px;
}

.about-us .about-sec2 h4{
    font: 20px Pacifico, cursive;
    color: #fea116;
    font-weight: 600;
    margin: 0px 0px 8px;
    margin-bottom: 0px;
    display: flex;
}

.about-us .about-sec2 h4 .heading-bar{
    width: 50px;
    height: 3px;
    background-color: #fea116;
    position: relative;
    top: 15px;
    left: 9px;
    /* z-index: -1; */
}


.about-us .about-sec2 h2{
    font-size: 38px;
    margin: 0px 0px 16px;
    margin-top: 0px;
}

.about-us .about-sec2 h2 img{
    height: 50px;
    width: 50px;
    margin-bottom: -8px;
}

.about-us .about-sec2 span{
    font-size: 17px;
    color: #666565;
    display: block;
    margin: 0px 0px 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.about-us .us-intro{
    display: flex;
    margin: auto;
    width: 100%;
    gap: 60px;
}

.about-us .us-intro .card{
    display: flex;
}

.about-us .us-intro .card span{
    background-color: #fea116;
    height: 55px;
    width: 5px;
}

.about-us .us-intro .card p{
    font-size: 50px;
    font-weight: 700;
    margin-top: -10px;
    margin-left: 10px;
    color: #fea116;
}

.about-us .us-intro .card .sub-card {
    margin-left: 10px;
    text-align: left;
}

.about-us .us-intro .card .sub-card p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 100;
    font-family: "Arial", sans-serif;
    color: #666565;
}

.about-us .us-intro .card .sub-card h4{
    font-size: 16px;
    margin-top: 2px;
    font-family: "Arial", sans-serif;
    margin-left: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: #111;
}

.about-us .about-sec2 button{
    background-color: #fea116;
    padding: 16px 48px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
}

.about-us .about-sec2 button:hover{
    cursor: pointer;
    background-color: #ffb330;
}

/* food menu  */

.food-menu {
    display: block;
    margin: auto;
    /* width: 100%; */
    background-color: #ffffff;
    margin-left: 90px;
    margin-right: 90px;
    /* height: auto; */
}

.food-menu h4{
    font: 20px Pacifico, cursive;
    color: #fea116;
    font-weight: 600;
    margin: 0px 0px 8px;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.food-menu h4 .heading-bar1{
    width: 40px;
    height: 3px;
    background-color: #fea116;
    position: relative;
    top: 15px;
    right: 9px;
}

.food-menu h4 .heading-bar2{
    width: 40px;
    height: 3px;
    background-color: #fea116;
    position: relative;
    top: 15px;
    left: 9px;
}

.food-menu h2{
    font-size: 38px;
    margin: 0px 0px 16px;
    text-align: center;
    margin-bottom: 30px;
}

.food-menu .menu-tabs{
    display: flex;
    margin: auto;
    align-items: center;
    height: 70px;
    width: 500px;
}

.food-menu .menu-tabs .tab{
    display: flex;
    padding: 10px;
    width: 150px;
    height: 40px;
}

.food-menu .menu-tabs .tab{
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}

.food-menu .menu-tabs .tab img{
    height: 40px;
    width: 50px;
}

.food-menu .menu-tabs .tab .sub-tab{
    display: block;
}

.food-menu .menu-tabs .tab .sub-tab span{
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}

.food-menu .menu-tabs .tab .sub-tab p{
    margin: 0px;
    font-size: 14px;
    color: #666565;
}

.food-menu .dishes{
    display: flex;
    margin: auto;
    /* gap: 50px; */
    align-items: center;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 30px;
}

.food-menu .dishes .dish-tab1{
    margin-left: 20px;
}

.food-menu .dishes .dish-tab1, .food-menu .dishes .dish-tab2{
    width: 700px;
    background-color: #ffffff;
}

.food-menu .dishes .dish-tab1 .sub-part, .food-menu .dishes .dish-tab2 .sub-part{
    display: flex;
}


.food-menu .dishes .dish-tab1 .sub-part .dish-tab1-img img, .food-menu .dishes .dish-tab2 .sub-part .dish-tab2-img img{
    height: 80px;
    width: 80px;
    padding: 10px;
}

.food-menu .dishes .dish-tab1 .sub-part .dish-tab1-text, .food-menu .dishes .dish-tab2 .sub-part .dish-tab2-text{
    margin-left: 20px;
}

.food-menu .dishes .dish-tab1 .sub-part .dish-tab1-text hr, .food-menu .dishes .dish-tab2 .sub-part .dish-tab2-text hr{
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.food-menu .dishes .dish-tab1 .sub-part .dish-tab1-text h3, .food-menu .dishes .dish-tab2 .sub-part .dish-tab2-text h3{
    margin-bottom: -5px;
    font-size: 20px;
}

.food-menu .dishes .dish-tab1 .sub-part .dish-tab1-text h3 span, .food-menu .dishes .dish-tab2 .sub-part .dish-tab2-text h3 span{
    color: #fea116;
    font-weight: 700;
    float: right;
}

.food-menu .dishes .dish-tab1 .sub-part .dish-tab1-text p, .food-menu .dishes .dish-tab2 .sub-part .dish-tab2-text p{
    margin-top: -5px;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    color: #666565; 
}


/* reservation style */

.reservation{
    background-color: #ffffff;
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
}

.reservation .video-part{
    width: 700px;
    margin-top: 80px;
    background-image: url(images/video-background.png);
    background-size: cover;
}

.reservation .right-part{
    width: 700px;
    background-color: #151527;
    padding: 20px;
    border-spacing: 10px;
    margin-top: 80px;

}

.reservation .right-part h4{
    color: #ffffff; 
    font: 20px Pacifico, cursive;
    font-weight: 600;
    color: #fea116;
    margin-bottom: 0px;
    display: flex;
}

.reservation .right-part h4 .heading-bar{
    width: 40px;
    height: 3px;
    background-color: #fea116;
    position: relative;
    top: 15px;
    left: 9px;
}

.reservation .right-part h1{
    color: #ffffff;
    font-size: 40px;
    margin-top: 0px;
}

.reservation .right-part input{
    width: 250px;
    padding: 20px;
    font-size: 16px;
}

.reservation .right-part select{
    width: 292px;
    padding: 20px;
    font-size: 16px;
    color: #666565;
}

.reservation .right-part textarea{
    width: 563px;
    height: 60px;
    padding: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666565;
}

.reservation .right-part button{
    width: 603px;
    padding: 20px;
    background-color: #fea116;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}


/* team-members styles */
.team-members{
    background-color: #ffffff;
    color: #c3bdbd;
    padding: 20px;
    margin-left: 90px;
    margin-right: 90px;
}

.team-members h2{
    color: #111;
    font-size: 40px;
    margin-top: 0px;
    text-align: center;
}

.team-members h4{
    color: #ffffff; 
    font: 20px Pacifico, cursive;
    color: #fea116;
    font-weight: 600;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.team-members h4 .heading-bar1{
    width: 40px;
    height: 3px;
    background-color: #fea116;
    position: relative;
    top: 15px;
    right: 9px;
}

.team-members h4 .heading-bar2{
    width: 40px;
    height: 3px;
    background-color: #fea116;
    position: relative;
    top: 15px;
    left: 9px;
}

.team-members .cards{
    display: flex;
    background-color: #ffffff;
    height: 400px;
    padding: 10px;
}

.team-members .cards .card{
    width: 300px;
    height: 350px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 4px;
    color: #111;
    text-align: center;
    box-shadow: #d9d4d4 0px 0px 6px;
    margin-top: 0px;
}

.team-members .cards .card img{
    height: 250px;
    border-radius: 360px;
    margin-top: 20px;
}

.team-members .cards .card h3{
    margin-bottom: 0px;
    font-size: 20px;
}

.team-members .cards .card p{
    margin-top: 0px;
    font-size: 14px;
}

.team-members .cards .card .contact-him{
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: #d9d4d4 0px 0px 6px;
}

.team-members .cards .card .contact-him a {
    text-align: center;
    margin-bottom: 4px;
}
.team-members .cards .card .contact-him a img{
    height: 25px;
    text-align: center;
    margin-top: 3px;
}

/* testimonial styles */

.testimonial{
    background-color: #ffffff;
    color: #c3bdbd;
    margin-top: -27px;
    padding: 20px;
    margin-left: 90px;
    margin-right: 90px;
}

.testimonial h4{
    font: 20px Pacifico, cursive;
    color: #fea116;
    font-weight: 600;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.testimonial h4 .heading-bar1{
    width: 40px;
    height: 3px;
    background-color: #fea116;
    position: relative;
    top: 15px;
    right: 8px;
}

.testimonial h4 .heading-bar2{
    width: 40px;
    height: 3px;
    background-color: #fea116;
    position: relative;
    top: 15px;
    left: 9px;
}

.testimonial h2{
    color: #111;
    font-size: 40px;
    margin-top: 0px;
    text-align: center;
}
.testimonial .cards{
    display: flex;
    background-color: #ffffff;
    height: 400px;
    margin: auto;
    gap: 25px;
    justify-content: center;
}

.testimonial .cards .card{
    width: 400px;
    background-color: #ffffff;
    height: 250px;
    color: #111;
    border: #ccd 1px solid;
}

.testimonial .cards .card:hover{
    background-color: #fea116;
    box-shadow: #727171c6 0px 0px 16px;
    transition: 1s;
}

.testimonial .cards .card img{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.testimonial .cards .card p{
    text-align: center;
    padding: 0px 20px 0px 20px;
}

.testimonial .cards .card .profile{
    text-align: center;
    padding: 0px 20px 0px;
    margin-top: 0px;
    display: flex;
}

.testimonial .cards .card .profile img{
    height: 50px;
    width: 50px;
    border-radius: 360px;
    border: 4px solid #fea116;
}

.testimonial .cards .card .profile .intro{
    margin-left: 10px;
    text-align: left;
    margin-top: 7px;
}

.testimonial .cards .card .profile .intro h3{
    margin-bottom: 0px;
    font-size: 18px;
}

/* footer section */

.footter-section{
    background-color: #151527;
    color: #ffffff;
    display: block;
    margin: auto;
    margin-left: 90px;
    margin-right: 90px;
}

.footter-section .footer-cards{
    display: flex;
    margin: auto;
    gap: 60px;
    padding: 50px 0px;
    margin-left: 50px;
    /* justify-content: center; */
}

.footter-section .footer-cards .card{
    display: block;
    width: 250px;
}

.footter-section .footer-cards .card a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: block;
    margin: 8px 0px;
}

.footter-section .footer-cards .card h3{
    font: 24px Pacifico, cursive;
    color: #fea116;
    font-weight: 600;
}

.footter-section .footer-cards .card span{
    font-size: 20px;
}

.footter-section .footer-cards .card p{
    margin-top: 5px;
    font-size: 16px;
}

.footter-section .footer-cards .card input{
    padding: 15px;
    font-size: 16px;
    border: #fea116 3px solid;
    border-radius: 2px;
}

.footter-section .footer-cards .card button{
    padding: 12px;
    font-size: 16px;
    background-color: #fea116;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
}

.logo-part{
    display: flex;
    gap: 5px;
}

.location, .phone, .email{
    background-color: #ffffff;
    border-radius: 3px;
    height: 15px;
    padding: 4px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.twitter, .facebook, .youtube, .linkedin{
    background-color: #ffffff;
    border-radius: 360px;
    height: 25px;
    padding: 3px;
    margin-top: 10px;
}

.twitter:hover, .facebook:hover, .youtube:hover, .linkedin:hover{
    background-color: #fea116;
}

.footter-disc{
    display: flex;
    margin: auto;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
}

.footter-disc .left{
    text-align: left;
    margin-left: 10px;
}

.footter-disc .right{
    margin-left: auto;
    display: flex;
    gap: 20px;
    margin-right: 10px;
}

.footter-disc .right li{
    list-style: none;
}

.footter-disc .right span{
    color: rgba(250, 250, 250, 0.249);
    margin-left: 10px;
}



